<!-- templates/birthday/birthday_list.html -->
{% extends "base.html" %}

{% block content %}
  {% for birthday in object_list %}
    <div class="row"> <!-- Обернём каждую запись в тег div -->
      <div class="col-2">
        {% if birthday.image %}
          <img src="{{ birthday.image.url }}" height="100">
        {% endif %}
      </div>
      <div class="col-10">  
        <div>
          {{ birthday.id }}. {{ birthday.first_name }} {{ birthday.last_name }} - {{ birthday.birthday }}
          <a href="{% url 'birthday:detail' birthday.id %}">Сколько до дня рождения?</a>

        </div>
          {% if birthday.author == user %}
            <div>
              <a href="{% url 'birthday:edit' birthday.id %}">Изменить запись</a> | <a href="{% url 'birthday:delete' birthday.id %}">Удалить запись</a>
            </div>
          {% endif %} 
      </div>
      {% if not forloop.last %}
        <hr>
      {% endif %}
    </div>
  {% endfor %}
  {% include "includes/paginator.html" %}

{% endblock %}